*.old
*.bak
*.o
*.d
*/*/compile.h
*/*/*.so
*/compile.h
*/*.so
release/
*.so
libnetguard.a
libnetguard.so.0
maconoff
netguard
ngcmd
shared/libnetguard.a
shared/libnetguard.so.0
src/netguard
stats2mysql
tools/cgistats/trafficstats.cgi
tools/maconoff/maconoff
tools/ngcmd/ngcmd
tools/stats2mysql/stats2mysql
tools/wh8utils/wh8utils
trafficstats.cgi
wh8utils
